html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: pink;
  }
  h1 {
    background-image: url("crepes.avif");
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Handwrting";
    background-color: lightblue;
    padding-top: 70px;
    padding-bottom: 70px;
  
  }
  p {
    color: red;
  }

  div.ex1 {
    background-color: lightblue;
    width: 50px;
    border-radius: 15px;
    border-width: 5px;
    text-align: center;
  }