html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: pink;
  }
  h1 {
    border-radius: 15px;
    border-width: 5px;
    background-image: url("crepes.avif");
    border-color: black;
    text-align: center;
    background-color: lightblue;
    padding-top: 60px;
    padding-bottom: 60px;
  
  }
  p {
    color: red;
  }


    